* {
  margin: 0px;
  padding: 0;
}
body {
  font-family: "Source Code Pro", monospace;
  background: #444444;
  color: black;
}
body::-webkit-scrollbar {
  background: transparent;
  width: 7px;
  border-radius: 20px;
}
body::-webkit-scrollbar-thumb {
  border: 5px solid #ededed;
  border-radius: 90px;
}
label {
  font-size: 20px;
}
h1,
h2 {
  color: #ededed;
  margin-bottom: 5px;
}
p {
  color: #ededed;
  text-align: center;
}
span {
  color: #ededed;
  text-align: initial;
}
header {
  margin-bottom: 10px;
  padding-top: 15px;
  height: 50px;
  background-color: #444444;
  text-align: center;
}
.grafo1 {
  background: #171717;
  border: 4px solid #da0037;
  border-radius: 8px;
  width: 85%;
  margin: auto;
  height: 400px;
}
.Fila {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.Columnas {
  margin: 2px;
  padding: 10px;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
.wrapper {
  background-color: #444444;
}
input[type="text"],
[type="number"] {
  width: 50%;
  height: 2px;
  padding: 12px 20px;
  margin: 8px 0;
}
input[type="text"]:focus {
  border: 3px solid black;
}
input[type="button"],
input[type="submit"] {
  background-color: #da0037;
  border: none;
  color: white;
  padding: 10px 22px;
  border-radius: 2px;
  text-decoration: none;
  margin: 1px 1px;
  cursor: pointer;
  transition: transform 0.2s;
}
input[type="button"]:hover,
input[type="submit"]:hover {
  transform: scale(1.2);
}
footer {
  border-radius: 2px;
  background-color: #171717;
  color: #ededed;
  font-size: 20px;
  position: static !important;
  width: 100%;
  text-align: center;
  margin-top: 25px;
  padding: 2rem;

}
a {
  text-decoration: underline;
  color: #da0037;
  text-align: end;
}

/* RESPONSIVE */
@media screen and (max-width: 690px) {
  .grafo1 {
    margin-top: 3rem;
  }
}

@media screen and (max-width: 500px) {
    .grafo1 {
        margin-top: 3rem;
    }
    input[type="text"],
    [type="number"] {
        width: 100%;
        padding: 20px 0px;
    }
    .wrapper,
    .abajo {
        width: 100%;
    display: flex;
    justify-content: center;
  }
  .Fila {
      margin: 0;
      padding: 0;
      flex-direction: column;
      padding: 15%;
    }

    .Columnas {
        flex-direction: unset;
        padding: 0;
    }
    .Columna {
        justify-content: center;
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
  body{
    font-size: 12px
  }
  footer{
    height: max-content;
  }
}